<div class="container p-4">
    <p-card>
        <div class="row">
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Ordenar por</mat-label>
                    <mat-select>
                        <mat-option value="asc">Nombre</mat-option>
                        <mat-option value="desc">Precio</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-select>
                        <mat-option value="asc">Ascendente</mat-option>
                        <mat-option value="desc">Descendente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Moneda</mat-label>
                    <mat-select>
                        <mat-option value="asc">Pesos</mat-option>
                        <mat-option value="desc">Dólares</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Sku</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>
    </p-card>
    <br>
    <div class="row gy-4">
        <div *ngFor="let producto of productos" class="col-4">
            <div class="card p-2">
                <h3 class="text-center">{{producto.sku}}</h3>
                <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="">
                <h2 class="text-center">{{producto.precio_pesos | currency:'USD'}}</h2>
                <p-button (click)="handleDetails(producto.traducciones[0].url)" label="Ver detalles" styleClass="p-button-success my-2 w-100"></p-button>
            </div>
        </div>
    </div>
</div>