<div class="container">
    <p-card header="Nuevo Producto">
        <div class="row">
            <div class="col-12">
                <h3>Detalles del producto</h3>
            </div>
            <div class="col-12 col-md-4">
                <h5>SKU : <strong>asdasdasd</strong> </h5>
                <h5>Precio Dolares : <strong>23123</strong> </h5>
                <h5>Precio Pesos : <strong>23123</strong> </h5>
                <h5>Puntos : <strong>23123</strong> </h5>
                <h5>Estatus : <strong>23123</strong> </h5>
            </div>
            <div class="col-12 col-md-8">
                <h3>Idiomas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion Corta</th>
                            <th>Descripcion Larga</th>
                            <th>Idioma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Producto de prueba
                            </td>
                            <td>
                                Producto de prueba corta
                            </td>
                            <td>
                                Producto de prueba larga
                            </td>
                            <td>
                               Español
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Test product
                            </td>
                            <td>
                                Short description
                            </td>
                            <td>
                                Long description
                            </td>
                            <td>
                                English
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Proyección de costos a 6 meses</h4>
        </div>
    </p-card>
    <pre>{{tipoCambio | json}}</pre>
</div>