<div class="container">
    <p-card header="Nuevo Producto">
        <div class="row">
            <div class="col-12">
                <h3>Detalles del producto</h3>
            </div>
            <div class="col-12 col-md-4">
                <h4>{{producto.traducciones[0].nombre}}</h4>
                <small>{{producto.traducciones[0].descripcion_corta}}</small>
                <h4>SKU: {{producto.sku}}</h4>
                <ng-container *ngIf="producto.traducciones[0].idioma == 'ingles'">
                    <h5>Price : {{producto.precio_dolares | currency:'USD'}} DLS</h5>
                    <h3>Points : {{producto.puntos}}</h3>
                </ng-container>
                <ng-container *ngIf="producto.traducciones[0].idioma == 'español'">
                    <h5>Precio : {{producto.precio_pesos | currency:'USD'}} MXN</h5>
                    <h3>Puntos : {{producto.puntos}}</h3>
                </ng-container>
            </div>
            <div class="col-12 col-md-8">
                <h3>Idiomas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción Corta</th>
                            <th>Descripción Larga</th>
                            <th>Idioma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let idioma of producto.traducciones">
                            <td>
                                {{idioma.nombre}}
                            </td>
                            <td>
                                {{idioma.descripcion_corta}}
                            </td>
                            <td>
                                {{idioma.descripcion_larga}}
                            </td>
                            <td>
                                {{idioma.idioma}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4>Proyección de costos a 6 meses</h4>
            <canvas baseChart class="chart"
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </p-card>
</div>